
body {
  font-family: Gilroy, Futura, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 40px;
}

.container {
    width: 100%;
    background: #fff;
}

@media screen and (min-width: 1400px) {
    .container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.main {
    position:relative;
    padding-bottom: 90px;
}

.header {
    padding-top: 40px;
    padding-left: 55px;
    text-align:center;
}

h1 {
    font-family: "Courier New", Courier,"Lucida Sans Typewriter", "Lucida Typewriter", monospace ;
    font-weight: 300;
    text-align: left;
}

.teaserimage--container {
  width: 70%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
}


.teaserimage {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.portfolio--title {
    z-index:1;
}

.portfolio--title .left, .portfolio--title .right  {
    position: absolute;
    font-size: calc(130px + 4.7vw);
    letter-spacing: 20px;
}

.portfolio--title .left {
    top: 23%;
    left: -13.5%;
}


.portfolio--title .right  {
    bottom: 25%;
    right: -12.5%;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 1;
}

.navigation li a {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    color: #000;
}

.navigation .active {
    text-decoration: underline;
}

@media screen (max-width: 767px){
    #link1, #link2, #link3, #link4 {
        width:100%;
        display: block;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px){
    #link1, #link2, #link3, #link4 {
        width: 24%;
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        padding: 0;
        letter-spacing: 0.3em;
    }
}
@media screen and (min-width: 768px) {
    .vertical-text {
        transform: rotate(-90deg);
        transform-origin: left top 0;
    }
    #link1, #link2, #link3, #link4 {
        font-size: 18px;
        letter-spacing: 0.3em;
    }

    #link2 {
        position: absolute;
        left: 8%;
        bottom: 20%;
    }

    #link3 {
        position: absolute;
        left: 87%;
        bottom: 60%;
    }

    #link1, #link4 {
        width: 49%;
        box-sizing: border-box;
        display: inline-block;
    }
}
.about-text {
padding: 10px, 15px, 10px, 15px;

}
