* {
  box-sizing: border-box;
}

.body {
    background: #fff;
}


.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  bottom: 300px;
  background: #fff;
  border-style: dashed;
  border-width: 2px;
}

.header {
  background: #fff;
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 60px;
  letter-spacing: 20px;
  padding: 60px 40px;
  margin-bottom: 10px;
  margin-left: 50px;
  top:20px;
  position: fixed;
  float: left;
}

.port, .folio {
    font-family: Gilroy,sans-serif;
  	font-size: 100px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 500;
    letter-spacing:20px;
    position: relative;
}

.port {
  text-align: left;
  float: left;
  left: 20px;
  top:300px;
  z-index:100;
}

.folio {
  text-align: right;
  float: right;
  right:20px;
  top: 600px;
  bottom:200px;
  z-index:100;
}

.teaserimage {
  width: 100%;
  max-width: 1300px;
  min-width: 400px;
  margin: 0px auto;
  bottom:100px;
  position: relative;
  display: block;
  z-index:50;
}

.navigation {
  font-family: Courier,sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  list-style-type: none;
  display: inline-block;
  padding: 0;
  bottom:20px;
  position: relative;
  text-align: center;
  width: 100%;
}

li {
  display: inline;
  padding: 90px;
  letter-spacing:10px;
  }
