* {
  box-sizing: border-box;
}

.body {
  font-family: Gilroy, Futura, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 40px;
}


.container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

.main {
    position:relative;
    padding-bottom: 90px;
}

.header {
  font-family: monospace;
  font-size: 20px;
  letter-spacing: 18px;
  padding-top: 40px;
  padding-left: 55px;
  text-align:center;
}

h1 {
    font-family: Courier;
    font-weight: 300;
    text-align: left;
}

.portfolio--title {
  font-family: Gilroy, Futura, sans-serif;
  z-index:1;
}

.portfolio--title .left, .portfolio--title .right  {
    position: absolute;
    font-size: calc(100px + 4.7vw);
}

.portfolio--title .left {
  top: 25%;
  left: -9.5%;
}

.portfolio--title .right  {
  bottom: 25%;
  right: -7.5%;
}

.teaserimage--container {
  font: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  width:80%;
  display: block;
}

.teaserimage {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  z-index: 1;
}

.navigation li a {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    color: #000;
}

.navigation .active {
    text-decoration: underline;
}

#link1, #link2, #link3, #link4 {
    width: 100%;
    display: block;
}

  #link1, #link2, #link3, #link4 {
    display: inline-block;
    margin: 0;
    padding: 0;
    letter-spacing: 0.3em;
    box-sizing: border-box;
    width: 24%;

}


@media screen and (min-width: 768px) {
.vertical-text {
    transform: rotate(-90deg);
    transform-origin: left top 0;
}

#link1, #link2, #link3, #link4 {
    font-size: 18px;
    letter-spacing: 0.3em;
}

#link2 {
  position: absolute;
  left:8%
  bottom:20%;
}

#link3 {
  position: absolute;
  left:87%
  bottom:60%;
}

#link1, #link4 {
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
}

}
