.{
  box-sizing: border-box;
}

.body {
    background: #fff;
    font-family: Gilroy,sans-serif;
  	font-size: 16px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 500;
  	line-height: 40px;
}


.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-style: dashed;
  border-width:2px;
}

.header {
  background: #fff;
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 40px;
  padding-top: 60px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  position: relative;


}

.teaserimage {
  width: 1300px;
  max-width: 1400px;
  min-width: 400px;
  min-height:inherit;
  margin: auto;
  position:relative;
z-index: 1;

}

.port {
    background: #fff;
    font-family: Gilroy,sans-serif;
  	font-size: 100px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 500;
    text-align: left;
    z-index: -1;
}

.folio {
  background: #fff;
  font-family: Gilroy,sans-serif;
  font-size: 100px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  text-align:right;
  z-index: -1;
}

.navigation {
  font-family: Courier,sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  list-style-type: none;
  display: inline-block;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
}

li {
  display: inline;
  padding: 100px;
  }
